@{
	Layout = null;
}
<!DOCTYPE html>

<html>
	<head>
		<title>Hello World</title>
		<style>
			.awesome {
				border: 1px dotted red;
			}
		</style>
	</head>
	<body>
		Hello World
		
		@Html.React("HelloWorld", new
		{
			name = "Daniel"
		})
		
		@Html.React("HelloWorld2", new
		{
			name = "Daniel"
		})
		
		<script src="http://fb.me/react-0.9.0.min.js"></script>
		<script src="~/Scripts/HelloWorld.react.js"></script>
		<script src="~/Scripts/HelloWorld2.react.jsx"></script>
		@Html.ReactInitJavaScript()
	</body>
</html>