[submodule "site/packages"]
	path = site/packages
	url = https://github.com/Daniel15/simple-nuget-server.git
[submodule "lib/VroomJs"]
	path = lib/VroomJs
	url = https://github.com/fogzot/vroomjs.git
