version: '{build}'
os: Visual Studio 2015
install:
- set PATH=%ProgramFiles(x86)%\MSBuild\14.0\Bin;%PATH%
build:
  project: build.proj
  verbosity: normal
test_script:
- dotnet test --configuration Release --no-build tests/React.Tests
artifacts:
- path: output\*.nupkg
