<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JavaScriptEngineSwitcher.Core" version="1.2.4" targetFramework="net40" />
  <package id="JavaScriptEngineSwitcher.Msie" version="1.2.4" targetFramework="net40" />
  <package id="JavaScriptEngineSwitcher.V8" version="1.2.4" targetFramework="net40" />
  <package id="JSPool" version="0.2.0" targetFramework="net40" />
  <package id="MsieJavaScriptEngine" version="1.5.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net40" />
</packages>