<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JavaScriptEngineSwitcher.Core" version="1.2.4" targetFramework="net4" />
  <package id="JavaScriptEngineSwitcher.Msie" version="1.4.0" targetFramework="net40" />
  <package id="JavaScriptEngineSwitcher.V8" version="1.4.1" targetFramework="net40" />
  <package id="JSPool" version="0.3.1" targetFramework="net4" />
  <package id="MsieJavaScriptEngine" version="1.6.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net4" />
</packages>