@model React.Sample.Mvc4.ViewModels.IndexViewModel
@{
	Bundles.Reference("main.css");
	Bundles.Reference("main.js");
}
<!DOCTYPE html>
<html>
<head>
	<title>ReactJS.NET Sample</title>
	@Bundles.RenderStylesheets()
</head>
<body>
	<p>
		This is an example of ReactJS.NET's server-side rendering. The initial state of this 
		comments box is rendered server-side, and additional data is loaded via AJAX and rendered
		client-side.
	</p>
	
	<!-- Render the component server-side, passing initial props -->
	@Html.React("CommentsBox", new { initialComments = Model.Comments })
		
	<!-- Load all required scripts (React + the site's scripts) -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
	@Bundles.RenderScripts()
	<!-- Render the code to initialise the component -->
	@Html.ReactInitJavaScript()
</body>
</html>