<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JavaScriptEngineSwitcher.Core" version="1.5.0" targetFramework="net451" />
  <package id="JavaScriptEngineSwitcher.Msie" version="1.5.0" targetFramework="net451" />
  <package id="JavaScriptEngineSwitcher.V8" version="1.5.2" targetFramework="net451" />
  <package id="JSPool" version="0.4.1" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Antiforgery" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Authorization" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.DataProtection" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Diagnostics.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Http" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Http.Features" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.JsonPatch" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Mvc.DataAnnotations" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Mvc.Formatters.Json" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Mvc.ViewFeatures" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Routing" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.StaticFiles" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.CSharp" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0-rc2-002702" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Localization" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.ObjectPool" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Options" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.WebEncoders" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="Microsoft.Net.Http.Headers" version="1.0.0-rc2-final" targetFramework="net451" />
  <package id="MsieJavaScriptEngine" version="1.7.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="System.Buffers" version="4.0.0-rc2-24027" targetFramework="net451" />
  <package id="System.Collections" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Collections.Concurrent" version="4.0.12-rc2-24027" targetFramework="net451" />
  <package id="System.ComponentModel" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="System.ComponentModel.Primitives" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="System.ComponentModel.TypeConverter" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="System.Diagnostics.Contracts" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="System.Diagnostics.Debug" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0-rc2-24027" targetFramework="net451" />
  <package id="System.Globalization" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.IO" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Linq" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Linq.Expressions" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Reflection" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Reflection.Extensions" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="System.Resources.ResourceManager" version="4.0.1-rc2-24027" targetFramework="net451" />
  <package id="System.Runtime" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Runtime.Extensions" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Runtime.InteropServices" version="4.1.0-rc2-24027" targetFramework="net451" />
  <package id="System.Runtime.Serialization.Primitives" version="4.1.1-rc2-24027" targetFramework="net451" />
  <package id="System.Text.Encoding" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Text.Encoding.Extensions" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Text.Encodings.Web" version="4.0.0-rc2-24027" targetFramework="net451" />
  <package id="System.Threading" version="4.0.11-rc2-24027" targetFramework="net451" />
  <package id="System.Threading.Tasks" version="4.0.11-rc2-24027" targetFramework="net451" />
</packages>