<!DOCTYPE html>
<html>
<head>
	@Html.Raw(ViewBag.HelmetTitle)
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/Content/Sample.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
	@Html.Raw(ViewBag.ServerStyles)
</head>
<body>
	@RenderBody()
</body>
</html>
